<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.flowerapplet.mapper.FolwerAppletSkuMapper">

    <select id="selectByColor" parameterType="org.dromara.flowerapplet.domain.bo.FolwerAppletSkuBo" resultType="org.dromara.flowerapplet.domain.vo.FolwerAppletSkuColorVo">
        SELECT DISTINCT
        color,
        color_pic
        FROM
        folwer_sku
        WHERE del_flag = 0 AND color IS NOT NULL
        <if test="skuId != null and skuId != ''">
            AND    sku_id = #{skuId}
        </if>
        <if test="prodId != null and prodId != ''">
            AND    prod_id = #{prodId}
        </if>
        <if test="colour != null and colour != ''">
            AND    colour = #{colour}
        </if>
        <if test="number != null and number != ''">
            AND    number = #{number}
        </if>
        <if test="weight != null and weight != ''">
            AND    weight = #{weight}
        </if>
        <if test="price != null and price != ''">
            AND    price = #{price}
        </if>
        <if test="status != null and status != ''">
            AND    status = #{status}
        </if>
        <if test="soldNum != null and soldNum != ''">
            AND    sold_num = #{soldNum}
        </if>
        <if test="color != null and color != ''">
            AND    color = #{color}
        </if>
        <if test="level != null and level != ''">
            AND    level = #{level}
        </if>
        <if test="isSource != null and isSource != ''">
            AND    is_source = #{isSource}
        </if>
        <if test="source != null and source != ''">
            AND    source = #{source}
        </if>
        GROUP BY
        color,
        color_pic;
    </select>

    <select id="selectByLevel" parameterType="org.dromara.flowerapplet.domain.bo.FolwerAppletSkuBo" resultType="org.dromara.flowerapplet.domain.vo.FolwerAppletSkuColorVo">
        SELECT DISTINCT
        level
        FROM
        folwer_sku
        WHERE del_flag = 0 AND level IS NOT NULL
        <if test="skuId != null and skuId != ''">
            AND    sku_id = #{skuId}
        </if>
        <if test="prodId != null and prodId != ''">
            AND    prod_id = #{prodId}
        </if>
        <if test="colour != null and colour != ''">
            AND    colour = #{colour}
        </if>
        <if test="number != null and number != ''">
            AND    number = #{number}
        </if>
        <if test="weight != null and weight != ''">
            AND    weight = #{weight}
        </if>
        <if test="price != null and price != ''">
            AND    price = #{price}
        </if>
        <if test="status != null and status != ''">
            AND    status = #{status}
        </if>
        <if test="soldNum != null and soldNum != ''">
            AND    sold_num = #{soldNum}
        </if>
        <if test="color != null and color != ''">
            AND    color = #{color}
        </if>
        <if test="level != null and level != ''">
            AND    level = #{level}
        </if>
        <if test="isSource != null and isSource != ''">
            AND    is_source = #{isSource}
        </if>
        <if test="source != null and source != ''">
            AND    source = #{source}
        </if>
        GROUP BY
        level;
    </select>

    <select id="selectBySoldNum" parameterType="org.dromara.flowerapplet.domain.bo.FolwerAppletSkuBo" resultType="org.dromara.flowerapplet.domain.vo.FolwerAppletSkuColorVo">
        SELECT
        *
        FROM
        folwer_sku
        WHERE del_flag = 0
        <if test="skuId != null and skuId != ''">
            AND    sku_id = #{skuId}
        </if>
        <if test="prodId != null and prodId != ''">
            AND    prod_id = #{prodId}
        </if>
        <if test="colour != null and colour != ''">
            AND    colour = #{colour}
        </if>
        <if test="number != null and number != ''">
            AND    number = #{number}
        </if>
        <if test="weight != null and weight != ''">
            AND    weight = #{weight}
        </if>
        <if test="price != null and price != ''">
            AND    price = #{price}
        </if>
        <if test="status != null and status != ''">
            AND    status = #{status}
        </if>
        <if test="soldNum != null and soldNum != ''">
            AND    sold_num = #{soldNum}
        </if>
        <if test="color != null and color != ''">
            AND    color = #{color}
        </if>
        <if test="level != null and level != ''">
            AND    level = #{level}
        </if>
        <if test="isSource != null and isSource != ''">
            AND    is_source = #{isSource}
        </if>
        <if test="source != null and source != ''">
            AND    source = #{source}
        </if>
        GROUP BY
        sold_num
        ORDER BY
        sold_num DESC;
    </select>


</mapper>
