<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.platform.mapper.AppletUserInformationMapper">
    <sql id="base_select">
        select a.id,
               a.avatar_url,
               a.user_type,
               a.active,
               a.`name`,
               a.nick_name,
               a.phone,
               a.openid,
               a.points,
               a.`status`,
               a.wechat_number,
               c.group_name
        from applet_user_information a
    </sql>
    <update id="updateStatus">
        update applet_user_information set status = #{status} where id = #{id} and del_flag = 0
    </update>


    <resultMap id="user_info_result" type="org.dromara.system.platform.domain.vo.AppletUserInformationVo">
        <id property="userId" column="user_id"/>
        <id property="avatarUrl" column="avatar_url"/>
        <id property="userType" column="user_type"/>
        <id property="active" column="active"/>
        <id property="name" column="name"/>
        <id property="nickName" column="nick_name"/>
        <id property="phone" column="phone"/>
        <id property="openid" column="openid"/>
        <id property="points" column="points"/>
        <id property="status" column="status"/>
        <id property="wechatNumber" column="wechat_number"/>
        <id property="groupName" column="group_name"/>
    </resultMap>



    <select id="selectUsersByPage" resultMap="user_info_result">
        <include refid="base_select"></include>
                 left join applet_user_group c on c.id = a.group_id and c.`status` = 0
        <where>
        <if test="query.customer != null and query.customer != ''">
            (a.name like CONCAT('%', #{query.customer}, '%')
            or a.nick_name CONCAT('%', #{query.customer}, '%')
            or a.phone CONCAT('%', #{query.customer}, '%')
            or a.wechat_number CONCAT('%', #{query.customer}, '%'))
        </if>
        </where>
    </select>

    <select id="queryList" resultMap="user_info_result">
        <include refid="base_select"></include>
        left join applet_user_group c on c.id = a.group_id and c.`status` = 0
        <where>
            <if test="query.customer != null and query.customer != ''">
                (a.name like CONCAT('%', #{query.customer}, '%')
                or a.nick_name CONCAT('%', #{query.customer}, '%')
                or a.phone CONCAT('%', #{query.customer}, '%')
                or a.wechat_number CONCAT('%', #{query.customer}, '%'))
            </if>
        </where>
    </select>
<select id="selectOrder" resultType="org.dromara.system.platform.domain.vo.AppletUserOrderVo">
    SELECT
        a.order_code,
        a.consignee_name,
        SUM(b.num) AS product_num,
        a.actual_payment,
        a.payment_time
    FROM
        order_manage a
            INNER JOIN
        order_manage_detail b ON a.id = b.order_id
    WHERE
        a.user_id = #{userId}
    GROUP BY
        a.order_code, a.consignee_name, a.actual_payment, a.payment_time
</select>
    <select id="selectOrderNum" resultType="org.dromara.system.platform.domain.vo.AppletUserOrderNumVo">
        SELECT
            SUM(CASE WHEN order_status = 0 THEN 1 ELSE 0 END) AS pendingPayment,
            SUM(CASE WHEN order_status = 1 THEN 1 ELSE 0 END) AS pendingShipment,
            SUM(CASE WHEN order_status = 2 THEN 1 ELSE 0 END) AS pendingPickup
        FROM order_manage
        WHERE user_id = '1' AND del_flag = '0'
    </select>
</mapper>
