<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysOssMapper">

    <resultMap id="mapResult" type="map">
        <result property="key" column="oss_id"/>
        <result property="value" column="url"/>
    </resultMap>

    <select id="getIdMapUrlByIds" resultMap="mapResult">
        SELECT
            oss_id,
            url
        FROM
            sys_oss
        WHERE oss_id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>
    <select id="selectUrlByIdCreateTimeAsc" resultType="java.lang.String">
        SELECT
            url
        FROM sys_oss
        WHERE oss_id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
        ORDER BY create_time
    </select>
</mapper>
