<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.flower.platform.mapper.AppletUserInformationMapper">

    <resultMap id="mapResult" type="map">
        <result property="key" column="id"/>
        <result property="value" column="grade"/>
    </resultMap>

    <resultMap id="mapUserIdToAvatarUrl" type="map">
        <result property="key" column="id"/>
        <result property="value" column="avatar_url"/>
    </resultMap>

    <resultMap id="mapUserIdToName" type="map">
        <result property="key" column="user_id"/>
        <result property="value" column="name"/>
    </resultMap>

    <select id="selectMemberLevelByid" resultType="java.lang.String">
        select grade from member_level where id = #{id}
    </select>
    <select id="getLevelNamesByIds" resultMap="mapResult">
        SELECT
            DISTINCT id,
                     grade
        FROM member_level WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>
    <select id="getParentNameByIds" resultMap="mapUserIdToName">
        SELECT
            user_id,
            `name`
        FROM applet_user_information
        WHERE user_id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>
    <select id="getUserAvatarUrlByMemberId" resultType="java.lang.String">
        SELECT
            b.url AS avatar_url
        FROM
            applet_user_information AS a
                LEFT JOIN sys_oss AS b ON a.avatar_url = b.oss_id
        WHERE a.member_id = #{memberId}
    </select>
    <select id="selectUserInfoByIds"
            resultType="org.dromara.flower.platform.domain.vo.AppletUserInformationVo">
        SELECT
            a.user_id,
            a.`name`,
            a.nick_name,
            b.url AS avatar_url
        FROM
            applet_user_information AS a
                LEFT JOIN sys_oss AS b ON a.avatar_url = b.oss_id
        WHERE a.user_id IN
        <foreach collection="createByIds" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>
    <select id="getNameAndAvatarUrlVoById"
            resultType="org.dromara.flower.platform.domain.vo.AppletUserInformationVo">
        SELECT
            a.user_id,
            a.`name`,
            a.nick_name,
            b.url AS avatar_url
        FROM
            applet_user_information AS a
                LEFT JOIN sys_oss AS b ON a.avatar_url = b.oss_id
        WHERE a.user_id = #{userId}
    </select>
    <select id="getMemberLevelInfoById" resultType="java.lang.String">
        SELECT
            b.id
        FROM
            applet_user_information AS a
                LEFT JOIN member_level AS b ON a.member_level_id = b.id
        WHERE a.user_id = #{id}
    </select>

</mapper>
