<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.flower.mapper.MemberLevelMapper">

    <resultMap id="mapResult" type="map">
        <result property="key" column="id"/>
        <result property="value" column="grade"/>
    </resultMap>

    <select id="selectMapByIds" resultMap="mapResult">
        SELECT
        DISTINCT id,
        grade
        FROM member_level WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
    </select>
</mapper>
