<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.flower.mapper.MemberLevelPrivilegeMapper">
    <!--实体映射-->
    <resultMap id="base_result_map" type="org.dromara.flower.domain.MemberLevelPrivilege">
        <!--主键-->
        <result column="id" property="id"/>
        <!--租户编号-->
        <result column="tenant_id" property="tenantId"/>
        <!--部门id-->
        <result column="dept_id" property="deptId"/>
        <!--创建部门-->
        <result column="create_dept" property="createDept"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--创建人-->
        <result column="create_by" property="createBy"/>
        <!--更新时间-->
        <result column="update_time" property="updateTime"/>
        <!--更新人-->
        <result column="update_by" property="updateBy"/>
        <!--删除标志 0 否 2 是-->
        <result column="del_flag" property="delFlag"/>
        <!--会员权益名称-->
        <result column="name" property="name"/>
        <!--总数量-->
        <result column="amount" property="amount"/>
        <!--会员等级ID-->
        <result column="member_level_id" property="memberLevelId"/>
    </resultMap>
</mapper>
